<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="script.js"></script>
  </head>

  <body>

    <div ng-app="myApp">
    <div class="inbox" ng-controller="MoviesCtrl">
        <nav>
        <ul>
            <li ng-repeat="movie in movie.details">
                <p>Title: {{ movie.title }}</p>
                <button ng-click="detailsMovie($index)">Details</button>
                <button ng-click="deleteMovie($index)">Delete</button>
                

        </ul>
        </nav>
        <aside>
            {{ details }}<br>
            <img height="200" ng-src=" {{ imagen }} ">

        </aside>
    </div>
  
  
  </body>

</html>
