<!DOCTYPE html>
<html>

  <head>
  	<link rel="stylesheet" type="text/css" href="style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
	<script src="myScript.js"></script>
  </head>

  <body>

  	<div ng-app="myApp">
    <div class="inbox" ng-controller="MoviesCtrl as mov">
        <div class="movies">
        <ul>
        
            <li ng-repeat="movie in mov.peliculas">
            <aside>
                <p id="movTitle">{{ movie.title }}</p>
                <button ng-click="toggle = !toggle">Details</button>
                <button ng-click="deleteMovie($index)">Delete</button>
                <ul ng-show="toggle">
                  <li>Year: {{ movie.year }}</li>
                  <li>Duration: {{ movie.duration }}</li>
                  </aside>
                  <img id="movPort" width="300" height="200" ng-show="toggle" ng-src= "{{ movie.img }}"/>
                    
                </ul>

                
                </li>
                


        </ul>
        </div>
        

        </div>
</div>
  
  
  </body>

</html>