*{
    text-align: center;
    font-family: Helvetica, Arial;
}
.inbox {
    padding:15px;
}

#movPort{
    float: left;
}

.form{
    padding: 15px;
    float: right;
}

#movTitle{
    font-size:20px;
    
}

.movies{
    float: left;
	text-align: center;
}

aside{
	clear: both;
	float: left;
	padding: 25px;
}
ul {
    list-style:none;
    padding:0;
}
ul li {
    padding:15px;
    overflow:hidden;
    background:#f9f9f9;
    border-top:1px solid #e5e5e5;
}
ul li:last-child {
    border-bottom:1px solid #e5e5e5;
}